/*
Comments
element {
    atribute: value;
    atribute: value;
    atribute: value;
    atribute: value;
    atribute: value;
    }
*/

h1 {
    color:red;
}

p {
    font-size: 20px;
}

/* #-> ID
.-> Class
*/

#custom-para {
font-size: 12px;
color:blue;
}

.custom-para {
    font-size: 12px;
    color: blue;
}

.extra {
        font-weight: bold;
        background-color:grey;
}
/* 
    Margin -> Free space AFTER Element
*/
    
div {
    background-color: grey;
    margin-right: 50px;
    margin-bottom:10px;
    /*  Width type colour */
    border: 5px solid green;
    height: 100px;
    width: 150px;
    overflow: hidden;
    text-align: center;
    align-content:center;
}

/* ,-> And another element */

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: end;
}

table {
    border-collapse: collapse;
}

.divstatic, .divrelat {
    top: 100px;
    left: 50px;
}

.divstatic {
    position: static;
    }
/* 
z-index== 0
*/
    .divrelat {
        position: relative;
        z-index: 1;
    }

    .divindex {
        position: relative;
        z-index: 2;
    }

    .divfixed {
        position: fixed;
        bottom: 250px;
        right: 80px;
    }

    .divstick {
      position: sticky;
      top:  00px; 
      left: 0px;
      z-index: 2;
    }

.header {
    height: 300px;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-image: url(../Lesson2/space.jpg);
    background-position: center;
    background-size: cover;
}

.headerPara {
    position: relative;
    top: 10px;
}
.headerH {
    color:white;
    /*  Left/Right Up/Down Blur colour */
    text-shadow: 7px 4px 7px black
}
